@using EntityLayer.Concrete
@using PagedList
@using PagedList.Mvc
@model  PagedList.IPagedList<Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<div>
    <h2 class="text-center">Kategory Tablosu</h2>
    <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Adı</th>
            <th>Sil</th>
            <th>Güncelle</th>
            <th>Başlıklar</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.CatagoryID</th>
                <td>@item.CatagoryName</td>
                <td><a href="/AdminCategory/DeleteCategory/@item.CatagoryID" class="btn btn-danger w-100">Sil</a></td>
                <td><a href="/AdminCategory/EditCategory/@item.CatagoryID" class="btn btn-success w-100">Güncelle</a></td>
                <td><a href="/Heading/HeadingCategory/@item.CatagoryID" class="btn btn-primary w-100">Başlıklar</a></td>
            </tr>
        }
    </table>
    <br />
    <a href="/AdminCategory/AddCategory" class="btn btn-success w-100">Yeni Kategori</a>

    @Html.PagedListPager((IPagedList)Model, a => Url.Action("Index", new { a }), new PagedListRenderOptions
{
LiElementClasses = new List<string>
{ "page-link"}
})
</div>
